body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
section {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
button {
    margin-left: 10px;
}

/* slider */
.slider-wrap {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
/* slider cho các orderdetail item */
.orderdetail-item {
    flex: 0 0 auto;
    width: 300px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.orderdetail-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.orderdetail-item p {
    font-size: 14px;
    color: #555;
}


/* slider cho các dish item */
.dish-item {
    flex: 0 0 auto;
    width: 300px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.dish h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dish-item p {
    font-size: 14px;
    color: #555;
}
